# URL do Banco de dados (SQLite local ou montado em container)
DATABASE_URL="file:./dev.db"

# Segredo para assinatura de tokens JWT (substitua em produção na sua VPS)
JWT_SECRET="gere_uma_chave_segura_de_32_caracteres_ou_mais"

# Porta do serviço (opcional, padrão 3000)
PORT=3000
